<div class="mt-5" style='background-color: white; max-width: 70%;'>
  <h1 class="text-center mb-3">Login</h1>
  <form style="margin: 0 auto; max-width: 30%" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <label for="email" class="form-label">Email Address</label>
          <input type="email" class="form-control" id="email" formControlName="email" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label for="phone" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" />
      </div>
    </div>
    <div class="text-center mt-3">
      <button type="submit" class="btn btn-primary">Log In</button>
    </div>
    <div>
      <p class="text-center mt-3">Don't have an account? <a routerLink="/signup">Signup</a></p>
    </div>
  </form>
</div>
