.movie-card-wrap {
  max-width: 200px;
  max-height: 300px;

  .card-wrap {
    img {
      transition: all 0.5s ease;
    }
    :hover {
      transform: scale(1.1);
    }
  }

  .btn-bar {
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    bottom: 29px;
    display: flex;
    justify-content: space-around;
    gap: 5px;
    overflow: hidden;
  }

  .btn-bar:hover {
    bottom: 29px;
    transform: scale(1);
  }
}
