body {
  padding-top: 2rem;
  overflow-x: scroll;
}

@media (min-width: 576px) {
  .card-group.card-group-scroll {
    overflow-x: scroll;
    flex-wrap: nowrap;
  }
}

.card-group.card-group-scroll > .card {
  flex-basis: 35%;
}
