<!-- Background -->
<div class="backdrop" (click)="onCloseModal()"></div>

<div class="container">
  <div class="row ">
    <!-- Content -->
    <div class="alert-box">
      <p>{{ ratingModal }}</p>

      <div class="alert-box-actions">
        <button (click)="onCloseModal()">Close</button>
      </div>
    </div>
  </div>
  <div class="row">
    <form #reviewForm="ngForm" (ngSubmit)="onSubmit(reviewForm)">

      <!-- User_Rating -->
      <div class="form-group md-col-2" style='background-color: white;'>
        <label for="user_rating">Rating:(click a star to rate)</label>
        <label class="rating-label">
          <input class="rating" max="5" oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)" step="0.5"
            style="--value:0" type="range" value="2.5">
        </label>
      </div>

      <!-- Review -->
      <div class="form-group" style='background-color: white;'>
        <label for="review">Review:</label>
        <textarea name="textarea" rows="5" cols="30" class="form-control" id="review" name="review"
          ngModel>Write something here</textarea>
      </div>

      <!-- BUTTONS -->
      <button type="submit" class="btn btn-primary mr-3" [disabled]="!reviewForm.valid">
        Save
      </button>
      <button type="button" class="btn btn-warning" (click)="onResetForm()">
        Cancel
      </button>
    </form>

  </div>
</div>
